/* CSS declarations go here */

@font-face {
    font-family: "mFont";
    src: url("/Fonts/AvenirNextLTPro-Bold.woff") format('woff');
}

@font-face {
    font-family: "smallFont";
    src: url("/Fonts/AvenirNextLTPro-Demi.woff") format('woff');
}

@font-face {
    font-family: "thinFont";
    src: url("/Fonts/AvenirNextLTPro-Regular.woff") format('woff');
}

@font-face {
    font-family: "autoFont";
    src: url("/Fonts/bulletto_killa/bk.woff") format('woff');
}

/* Standard gray color: #D8D8D8 */ 

body {
  font-family: "thinFont", Helvetica, sans-serif;
}

button {
  -moz-box-shadow:inset 0px 4px 5px 0px #878787;
  -webkit-box-shadow:inset 0px 4px 5px 0px #878787;
  box-shadow:inset 0px 0px 0px 0px #878787;
  background-color:#D8D8D8;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:5px;
  border:1px solid #878787;
  display:inline-block;
  cursor:pointer;
  color:#424242;
  font-family: "smallFont";
  padding:6px 8px;
  margin: 5px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
}

button:active {
  -webkit-box-shadow: inset 0 0 3px #767676, 0 0 3px #767676;
  -moz-box-shadow: inset 0 0 3px #767676, 0 0 3px #767676;
  box-shadow: inset 0 0 3px #767676, 0 0 3px #767676;
}


.tracks-container {
  background-color: white;
  height: 300px;
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.tracks-container .recording h2 {
  font-family: "mFont";
  height: auto;
  padding-top: 10px;
  color: #E94418;
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(128,128,128,.7);
}

.tracks-container .recording .tracks {
  border-style: solid;
  border-width: 1px;
  border-color: #D8D8D8;
  background-color: #D8D8D8;
  font-family: "thinFont";
  color: black;
  font-size: 18px;
  margin-top: 20px;
  height: 165px;
  overflow: auto;
}

#play {
  margin-left: 10px;
  float:left;
  padding-right: 10px;
}

.strip {
  padding: 5px;
  border-bottom-style: solid;
  border-bottom: 1px solid white;
}

.strip:hover {
  background-color: #F6B4A3;
}

.strip:hover .options {
  visibility: visible;
}

.big-cont {
  width: 100%;
  height: 368px;
  margin-top: 100px;
}

.tracks-container .recording .load {
  border-style: solid;
  border-width: 1px;
  border-color: #D8D8D8;
  font-family: "thinFont";
  color: black;
  padding-top: 4px;
  height: 18px;
  text-align: center;
  font-size: 12px;
  text-decoration: underline;
}

.tracks-container .recording .tracks .name{
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.options {
  float:right;
  margin-right: 5px;
  visibility: hidden;
}

.options button {
  width:20px;
  height: 20px;
  cursor: pointer;
  padding: 3px 1px;
  margin: 2px 5px;
}


.banner {
  width:100%;
  font-size: 15px;
  background-color: #1D1D1D;
  height: 60px;
  color: #E94418;
  padding-left: 20px;
  padding-top: 5px;
}

.banner .logo {
  display: inline-block;
}

.banner .logo h1 {
  font-family: "autoFont";
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 5px;
}

.banner .inner-banner {
  font-family: "thinFont";
  float:right;
  font-size: 16px;
  margin-top: 15px;
}

.banner .inner-banner .notif {
  display: inline-block;
  padding: 5px;
}

.inner-banner .login {
  display:inline-block;
  float: right;
  width: 250px;
  margin-right: 20px;
}

#login-buttons {
  width: 100px;
}

.login a {
  float: right;
}

#login-buttons a {
    font-family: "thinFont";
    text-decoration: none;
    font-size: 16px;
    color: #E94418;
    padding: 5px;
}

#login-dropdown-list {
  margin-top: 30px;
}

.navButton:hover {
  cursor: hand;
}

#recording-controls {
  text-align: center;
  width: 57%;
  margin-bottom: 25px;
}

#stop-button {
  display: none;
}

.instr_container {
  width: 57%;
  display: inline-block;
}

.button-container {
    width: 368px;
    background: #2E2E2E;
    overflow-y: auto;
    margin-right: auto;
    margin-left: auto; 
    -webkit-animation:taufik 2s;
    -moz-animation:taufik 2s;
    animation:taufik 2s;
}

.button-container button {
    width: 100px;
    height: 100px;
    margin: 10px;
    -moz-box-shadow:inset 0px 4px 5px 0px #424242;
    -webkit-box-shadow:inset 0px 4px 5px 0px #424242;
    box-shadow:inset 0px 0px 0px 0px #424242;
    background-color:#D8D8D8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:5px;
    border:1px solid #424242;
    display:inline-block;
    cursor:pointer;
    color:#3B5957;
    font-family: "smallFont";
    font-size:12px;
    padding:20px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
}

.button-container button:active, .button-container .active-button{
    padding: 20px;
    position:relative;
    background-color: yellow;
    top:1px;
    -webkit-box-shadow: inset 0 0 30px #f00, 0 0 30px #f00;
    -moz-box-shadow: inset 0 0 30px #f00, 0 0 30px #f00;
    box-shadow: inset 0 0 30px #f00, 0 0 30px #f00;
    background: #FFFF00;
}

.reset {
    float: right;
}

/* Sidebar */

#sidebar-wrapper {
  z-index: 2000;
  margin: 30px 15px;
  border-width: 1px;
  margin-top: 10px;
  font-family: 'smallFont', Tahoma, Arial, sans-serif;
}

.sidemenu button {
  display: block;
  margin-bottom: 8px;
}

.sidebar-brand {
  margin: 10px;
}

.sidebar-brand .text {
  color: #E94418;
  position: relative;
  margin-top: 20px;
  top: 50%;
  text-align: left
} 

#keys, #drums {
  padding: 5px;
  -webkit-animation:taufik 2s;
  -moz-animation:taufik 2s;
  animation:taufik 2s;
}

.instruments {
  padding: 5px;
}

#drumcontainer {
  padding: 5px;
}

#keycontainer {
  padding: 5px;
}

/* Keyboard */

/**
 * Pure CSS3 Piano by Taufik Nurrohman
 * On: 1 December 2011
 * URL: http://hompimpaalaihumgambreng.blogspot.com/
 * Note: This experiment is under the God Almighty License.
 * Please do not replace or remove the attribution above if you want to save/modify this project legally.
 * Good luck!
 */

* {
  margin:0px;
  padding:0px;
  list-style:none;
}

:focus {
  outline:none !important;
}

body {
  height:500px;
}

a {
  color:indigo;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

/* Piano Wrapper */
#p-wrapper {
  float: middle;
  background:#000;
  background:-webkit-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  background:-moz-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  background:-ms-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  background:-o-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  background:linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  width: 500px;
  height: 250px;
  position:relative;
  -webkit-box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
  -moz-box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
  box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
  border:2px solid #333;
  -webkit-border-radius:0 0 5px 5px;
  -moz-border-radius:0 0 5px 5px;
  border-radius:0 0 5px 5px;
  -webkit-animation:taufik 2s;
  -moz-animation:taufik 2s;
  animation:taufik 2s;
  overflow:hidden;
  margin: 10px auto 0 auto;
}

/* Tuts */
ul#piano {
  display:block;
  width:100%;
  height:300px;
  border-top:2px solid #222;
}

ul#piano li {
  list-style:none;
  float:left;
  display:inline;
  background:#aaa;
  width:50px;
  position:relative;
}

ul#piano li a,ul#piano li div.anchor {
  display:block;
  height:275px;
  background:#fff;
  background:-webkit-linear-gradient(-30deg,#f5f5f5,#fff);
  background:-moz-linear-gradient(-30deg,#f5f5f5,#fff);
  background:-ms-linear-gradient(-30deg,#f5f5f5,#fff);
  background:-o-linear-gradient(-30deg,#f5f5f5,#fff);
  background:linear-gradient(-30deg,#f5f5f5,#fff);
  border:1px solid #ccc;
  -webkit-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  -moz-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  -webkit-border-radius:0 0 3px 3px;
  -moz-border-radius:0 0 3px 3px;
  border-radius:0 0 3px 3px;
}

ul#piano li a:active,ul#piano li div.anchor:active, 
ul#piano li div.key-pressed {
  -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4);
  -moz-box-shadow:0 2px 2px rgba(0,0,0,0.4);
  box-shadow:0 2px 2px rgba(0,0,0,0.4);
  position:relative;
  top:2px;
  height:270px;
}

ul#piano li a:active:before,ul#piano li div.anchor:active:before,
ul#piano li div.anchor.key-pressed:before  {
  content:"";
  width:0px;
  height:0px;
  border-width:270px 5px 0px;
  border-style:solid;
  border-color:transparent transparent transparent rgba(0,0,0,0.1);
  position:absolute;
  left:0px;
  top:0px;
}

ul#piano li a:active:after,ul#piano li div.anchor:active:after,
ul#piano li div.anchor.key-pressed:after {
  content:"";
  width:0px;
  height:0px;
  border-width:270px 5px 0px;
  border-style:solid;
  border-color:transparent rgba(0,0,0,0.1) transparent transparent;
  position:absolute;
  right:0px;
  top:0px;
}

/* Black Tuts */
ul#piano li span {
  position:absolute;
  top:0px;
  left:-12px;
  width:25px;
  height:150px;
  background:#333;
  background:-webkit-linear-gradient(-20deg,#333,#000,#333);
  background:-moz-linear-gradient(-20deg,#333,#000,#333);
  background:-ms-linear-gradient(-20deg,#333,#000,#333);
  background:-o-linear-gradient(-20deg,#333,#000,#333);
  background:linear-gradient(-20deg,#333,#000,#333);
  z-index:10;
  border-width:1px 2px 7px;
  border-style:solid;
  border-color:#666 #222 #111 #555;
  -webkit-box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  -moz-box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  -webkit-border-radius:0 0 2px 2px;
  -moz-border-radius:0 0 2px 2px;
  border-radius:0 0 2px 2px;
}

ul#piano li span:active, ul#piano li span.key-pressed {
  border-bottom-width:2px;
  height:153px;
  -webkit-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
  -moz-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
  box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
}

/* Animation */
@-webkit-keyframes taufik {
  from {opacity:0;}
  to {opacity:1;}
}
@-moz-keyframes taufik {
  from {opacity:0;}
  to {opacity:1;}
}
@keyframes taufik {
  from {opacity:0;}
  to {opacity:1;}
}

.login {
  float: right;
  width: 250px;
  margin-top: 15px;
  margin-right: 35px;
}

#login-buttons {
  width: 250px;
}

.login a {
  float: right;
}

#sidebar-button {
  margin-top: 10px;
  float: left;
}

/* General styles for all menus */

.cbp-spmenu {
  z-index: 2000;
  position: absolute;
  margin-top: 60px;
  background: #1D1D1D;
  top: 0;
  left: 0;
  opacity: 0.85;
}

.cbp-spmenu h3 {

  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu a:hover {
  background: #258ecd;
}

.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 50;
}

.cbp-spmenu-vertical a {
  border-bottom: 1px solid #258ecd;
  padding: 1em;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
  left: -280px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 280px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-height: 26.375em){

  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 280px;
  }

  .cbp-spmenu-right {
    right: -280px;
  }

  .cbp-spmenu-push-toright {
    left: 280px;
  }
}


#save-recording-background {
  z-index: 4000;
  position: absolute;
  background-color: rgba(29,29,29, .7);
  width: 100%;
  height: 100%;
  top: 0;
}

#save-recording-wrapper {
  z-index: 5000;
  border: solid;
  background-color: rgba(255, 255, 255, 1);
  max-width: 300px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
  padding: 15px 20px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 5px 5px 3px #222;
}

.save-recording {
  display: none;
}

.save-recording-name {
  margin-top: 15px;
  margin-bottom: 20px;
}

.save-recording-name input {
  line-height: 24px;
  font-size: 12px;
}

.save-recording-name h3 {
  display: inline-block;
  margin-right: 5px;
}

#save-recording-okay {
  margin-left: 20px;
  background-color: #FF8F72;
  border-width: 2px;
}
