/* CSS declarations go here */

@font-face {
    font-family: "mFont";
    src: url("/Fonts/AvenirNextLTPro-Bold.woff") format('woff');
}

@font-face {
    font-family: "smallFont";
    src: url("/Fonts/AvenirNextLTPro-Demi.woff") format('woff');
}

@font-face {
    font-family: "thinFont";
    src: url("/Fonts/AvenirNextLTPro-Regular.woff") format('woff');
}

@font-face {
    font-family: "autoFont";
    src: url("/Fonts/bulletto_killa/bk.woff") format('woff');
}


.banner {
  width:100%;
  font-size: 15px;
  background-color: #1D1D1D;
  height: 60px;
  color: #E94418;
  padding-left: 20px;
  padding-top: 5px;
}

.banner .logo h1 {
  font-family: "autoFont";
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 5px;
  padding-left: 50px;
  z-index: 60;
}

.navButton:hover {
  cursor: hand;
}

.button-container {
    width: 368px;
    height: 360px;
    float: middle;
    background: #2E2E2E;
    overflow-y: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation:taufik 2s;
    -moz-animation:taufik 2s;
    animation:taufik 2s;
}

.button-container button {
    width: 100px;
    height: 100px;
    margin: 10px;
    -moz-box-shadow:inset 0px 4px 5px 0px #424242;
    -webkit-box-shadow:inset 0px 4px 5px 0px #424242;
    box-shadow:inset 0px 0px 0px 0px #424242;
    background-color:#D8D8D8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:5px;
    border:1px solid #424242;
    display:inline-block;
    cursor:pointer;
    color:#3B5957;
    font-family: "smallFont";
    font-size:12px;
    padding:20px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
}

.login {
  float: right;
}

#login-buttons a {
    font-family: "thinFont";
    text-decoration: none;
    font-size: 15px;
    color: #E94418;
    padding: 5px;
}

.button-container button:active, .button-container .active-button{
    padding: 20px;
    position:relative;
    background-color: yellow;
    top:1px;
    -webkit-box-shadow: inset 0 0 30px #f00, 0 0 30px #f00;
    -moz-box-shadow: inset 0 0 30px #f00, 0 0 30px #f00;
    box-shadow: inset 0 0 30px #f00, 0 0 30px #f00;
    background: #FFFF00;
}

.reset {
    float: right;
}

.login {
    width:80px;
}

/* Sidebar */

#sidebar-wrapper {
  z-index: 2000;
  opacity: 1;
  background: #333333;
  margin: 30px;
  height: 200px;
  width: 200px;
  border-width: 1px;
  margin-top: 80px;
  font-family: 'smallFont', Tahoma, Arial, sans-serif;
}

.sidebar-brand {
  background-color: #E94418;
}

.sidebar-brand .text {
  position: relative;
  top: 50%;
  text-align: left
} 

#keys, #drums {
    -webkit-animation:taufik 2s;
    -moz-animation:taufik 2s;
    animation:taufik 2s;
}

#item {
    border-color: black;
}

/* Keyboard */

/**
 * Pure CSS3 Piano by Taufik Nurrohman
 * On: 1 December 2011
 * URL: http://hompimpaalaihumgambreng.blogspot.com/
 * Note: This experiment is under the God Almighty License.
 * Please do not replace or remove the attribution above if you want to save/modify this project legally.
 * Good luck!
 */

* {
  margin:0px;
  padding:0px;
  list-style:none;
}

:focus {
  outline:none !important;
}

body {
  height:500px;
}

a {
  color:indigo;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

/* Piano Wrapper */
#p-wrapper {
  display: none;
  margin-top: 100px;
  float: middle;
  background:#000;
  background:-webkit-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  background:-moz-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  background:-ms-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  background:-o-linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  background:linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);
  width: 500px;
  height: 250px;
  position:relative;
  -webkit-box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
  -moz-box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
  box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
  border:2px solid #333;
  -webkit-border-radius:0 0 5px 5px;
  -moz-border-radius:0 0 5px 5px;
  border-radius:0 0 5px 5px;
  -webkit-animation:taufik 2s;
  -moz-animation:taufik 2s;
  animation:taufik 2s;
  overflow:hidden;
  margin-left: auto;
  margin-right: auto;
}

/* Tuts */
ul#piano {
  display:block;
  width:100%;
  height:300px;
  border-top:2px solid #222;
}

ul#piano li {
  list-style:none;
  float:left;
  display:inline;
  background:#aaa;
  width:50px;
  position:relative;
}

ul#piano li a,ul#piano li div.anchor {
  display:block;
  height:275px;
  background:#fff;
  background:-webkit-linear-gradient(-30deg,#f5f5f5,#fff);
  background:-moz-linear-gradient(-30deg,#f5f5f5,#fff);
  background:-ms-linear-gradient(-30deg,#f5f5f5,#fff);
  background:-o-linear-gradient(-30deg,#f5f5f5,#fff);
  background:linear-gradient(-30deg,#f5f5f5,#fff);
  border:1px solid #ccc;
  -webkit-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  -moz-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  -webkit-border-radius:0 0 3px 3px;
  -moz-border-radius:0 0 3px 3px;
  border-radius:0 0 3px 3px;
}

ul#piano li a:active,ul#piano li div.anchor:active {
  -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4);
  -moz-box-shadow:0 2px 2px rgba(0,0,0,0.4);
  box-shadow:0 2px 2px rgba(0,0,0,0.4);
  position:relative;
  top:2px;
  height:270px;
}

ul#piano li a:active:before,ul#piano li div.anchor:active:before {
  content:"";
  width:0px;
  height:0px;
  border-width:270px 5px 0px;
  border-style:solid;
  border-color:transparent transparent transparent rgba(0,0,0,0.1);
  position:absolute;
  left:0px;
  top:0px;
}

ul#piano li a:active:after,ul#piano li div.anchor:active:after {
  content:"";
  width:0px;
  height:0px;
  border-width:270px 5px 0px;
  border-style:solid;
  border-color:transparent rgba(0,0,0,0.1) transparent transparent;
  position:absolute;
  right:0px;
  top:0px;
}

/* Black Tuts */
ul#piano li span {
  position:absolute;
  top:0px;
  left:-12px;
  width:25px;
  height:150px;
  background:#333;
  background:-webkit-linear-gradient(-20deg,#333,#000,#333);
  background:-moz-linear-gradient(-20deg,#333,#000,#333);
  background:-ms-linear-gradient(-20deg,#333,#000,#333);
  background:-o-linear-gradient(-20deg,#333,#000,#333);
  background:linear-gradient(-20deg,#333,#000,#333);
  z-index:10;
  border-width:1px 2px 7px;
  border-style:solid;
  border-color:#666 #222 #111 #555;
  -webkit-box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  -moz-box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  -webkit-border-radius:0 0 2px 2px;
  -moz-border-radius:0 0 2px 2px;
  border-radius:0 0 2px 2px;
}

ul#piano li span:active {
  border-bottom-width:2px;
  height:153px;
  -webkit-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
  -moz-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
  box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
}

/* Animation */
@-webkit-keyframes taufik {
  from {opacity:0;}
  to {opacity:1;}
}
@-moz-keyframes taufik {
  from {opacity:0;}
  to {opacity:1;}
}
@keyframes taufik {
  from {opacity:0;}
  to {opacity:1;}
}

.login {
  float: right;
  width: 250px;
  margin-top: 15px;
  margin-right: 20px;
}

#login-buttons {
  width: 250px;
}

.login a {
  float: right;
}

#sidebar {
  z-index: 90;
  float: left;
  position: fixed;
}

/* General styles for all menus */

.cbp-spmenu {
  z-index: 2000;
  position: absolute;
  background: #1D1D1D;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.6;
}

.cbp-spmenu h3 {

  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu a:hover {
  background: #258ecd;
}

.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 50;
}

.cbp-spmenu-vertical a {
  border-bottom: 1px solid #258ecd;
  padding: 1em;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
  left: -280px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 280px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-height: 26.375em){

  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 280px;
  }

  .cbp-spmenu-right {
    right: -280px;
  }

  .cbp-spmenu-push-toright {
    left: 280px;
  }
}