<template name="activity">
{{> banner }}

{{#each activities}}
	{{> activityCard }}
{{/each}}

</template>

<template name="activityCard">
<div class="activity-card">
	<!-- <img class="profile-photo" src="/blobbyleft.png" alt="Profile photo"> -->
	<span class="card-contents">
		<div class="activity_info"><h1>{{nameOfActivity}}</h1> - {{postedBy}}</div>
		<div class="recording">
			<audio controls src="sounds/drums/Crash-01.wav">
				Your browser does not support the <code>audio</code> element.
			</audio>
		</div>
	</span>
</div>
</template>