<template name="activity">

{{#each activities}}
	{{> activityCard}}
{{else}}
	There are no activities.
{{/each}}

</template>

<template name="activityCard">
<div class="activity-card">
	<!-- <img class="profile-photo" src="images/dj.png" alt="Profile photo"> -->
	<span class="card-contents">
		<div class="activity_info"><h1>{{nameOfActivity}}</h1> - {{postedBy}}</div>
		<div class="recording">
			<audio controls src="sounds/drums/Crash-01.wav">
				Your browser does not support the <code>audio</code> element.
			</audio>
		</div>
	</span>
</div>
</template>

<template name="recordingCardContents">
	<!-- <img class="profile-photo" src="images/dj.png" alt="Profile photo"> -->
	<span class="card-contents">
		<div class="activity_info"><h1>{{name}}</h1></div>
		<div class="recording">
			<audio controls src="sounds/drums/Crash-01.wav">
				Your browser does not support the <code>audio</code> element.
			</audio>
		</div>
	</span>
</template>


<template name="ownRecordingCard">
<div class="recording-card">
	{{> recordingCardContents }}
	{{#if published}}
		<button class="unpublish-button publish-buttons"><span>Published</span></button>
	{{else}}
		<button class="publish-buttons publish-button" ><img title="publish" src="/images/globe.png" width="10px" height="10px"> Publish</button>
	{{/if}}
</div>
</template>


<template name="recordingCard">
<div class="recording-card">
	{{> recordingCardContents }}
</div>
</template>