<template name="banner">
<div class="banner">
  <div class="main">
      {{#if homePage}}
      <input type="image" class="upper-left_btn" id="sidebar-button" src="images/menu_icon.png" title="Sidebar menu button" width="35px" height="35px">
      {{else}}
      <a href="/"><img class="upper-left_btn" src="images/home.png" width="35px" height="35px"></a>
      {{/if}}
  </div>

 <div class="login">
    {{> loginButtons}}
  </div>
  
  {{#if currentUser}}
    <a id="activity-link" href="/activity">Activity</a>
  {{/if}}

  <div class="logo">
    <h1>Loop</h1>
  </div>
</div>
</template>