<template name="banner">
<div class="banner">
  <div class="main">
      {{#if homePage}}
      <input type="image" class="upper-left_btn" id="sidebar-button" src="images/menu_icon.png" title="Sidebar menu button" width="35px" height="35px">
      {{else}}
      <input type="image" class="upper-left_btn" src="images/menu_icon.png" width="35px" height="35px">
      {{/if}}
      <div class="logo">
      <h1>Loop</h1>
      </div>
      {{#if currentUser}}
      <a href="#" class="notifications">Notifications</a>
      
      {{/if}}
  </div>
  <div class="login">
    {{> loginButtons}}
  </div>
</div>

<div id="notif_block">
  {{> notifications}}
</div>
</template>
<template name="notifications">
</template>