<template name="banner">
<div class="banner">
    {{#if homePage}}
    <input type="image" class="upper-left_btn" id="sidebar-button" src="images/menu_icon.png" title="Sidebar menu button" width="35px" height="35px">
    {{else}}
    <a href="/"><img class="upper-left_btn" src="images/home.png" width="35px" height="35px"></a>
    {{/if}}

    <div class="logo">
    <h1>Loop</h1>
    </div>

    

  <div class="login">
    {{> loginButtons}}
  </div>
  
  
  {{#if currentUser}}
    <a id="activity-link" href="/user/{{currentUserId}}">Profile</a>

    <div id="notifications-wrapper" class="notifications">
      <a href="#" class="notifications">
        {{#if seenNotif}}
        Notifications
        {{else}}
        Notifications <img src="images/menu_icon.png" width="5px" height="5px">
        {{/if}}
      </a>

      <div id="notif_block">
        {{#if no_notifs}}
          No notifications
        {{/if}}
        {{#each notifs}}
          {{> notifications}}
        {{/each}}
      </div>
      
    </div>
    {{> search}}
  {{/if}}

</div>

</template>
<template name="notifications">
  <div class="notif_cont">
    {{#if typeIs 'FollowedNotification'}}
    <b>{{followerId}}</b> is following you
    {{/if}}
  </div>
</template>

<template name="search">
  <div class="search_box">
    <input id="searchText" type="text" value="Search..">
    <input type="submit" style="display:none">
  </div>
</template>