<!-- 
<head>
	<link rel="stylesheet" type="text/css" href="user.css">
</head>

<template name="details">
<body>
      <div class="save-recording">

	{{> banner}}
	
	<div id="edit_details" align="center">
	
    
      
      <fieldset>
      <div>
      Add Photo: <input id="addProfilePic" type="file"  />
      </div>
      <div>
      Add Header: <input id="addHeaderPic" type="file" />
      </div>
      <div>   
      <label for="fname_text">Full Name </label>
            <textarea rows="1" id="fname_text" maxlength="30">{{fullname}}</textarea>
      </div>
      <div>
      <label for="desc_text">Biography </label>
            <textarea rows="5" id="desc_text" maxlength="140">{{bio}}</textarea>
      </div>
      <div>
      <label for="genres_text">Genres </label>
            <textarea rows="2" id="genres_text" maxlength="50">{{genres}}</textarea>
      </div>
      <button id="update">Update</button>
      </fieldset>
    
      </div>
      </div>
</body>
</template> -->
