<head>
  <title>Loop</title>
</head>

<template name="home">
  {{> banner }}

  <div class="cbp-smenu-push">
  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left cbp-sp" id="cbp-spmenu-s1">
    <div class="sidemenu">
      {{> instrument_menu}}
    </div>
  </nav>
  </div>

  <button id="record">Record</button>
  <button id="stop">Stop</button>

  <div class="big-cont">
    <div class="instr_container">
      {{> Template.dynamic template=activeView }}
    </div>

    <div class="tracks-container">
      <div class="recording">
        <h2>Recordings</h2>
        <div class="tracks">
            {{> record_strip id="1" text="dummyyyyyyyyyyyyyy1"}}
            {{> record_strip id="2" text="dummy2"}}
            {{> record_strip id="3" text="dummy3"}}
            {{> record_strip id="4" text="dummy4"}}
            {{> record_strip id="5" text="dummy5"}}
        </div>
        <div type="button" class="load">
            Load more
        </div>
      </div>
    </div>
  </div>

</template>

<template name="record_strip">
  <div class="strip" id={{id}} title={{text}}>
    <div class="options">
      <button><img title="save" src="save.png" width="12px" height="12px;"></button>
      <button><img title="publish" src="globe.png" width="12px" height="12px"></button>
      <button><img title="delete" src="delete.png" width="12px" height="12px"></button>
    </div>
      <input type="image" id="play" src="play.png" width="20px" height="20px">
    <div class="name">
      {{text}}
    </div>
    
  </div>
</template>


<template name="drum_buttons">
<div id="buttoncontainer" class="button-container">
    {{> soundpad_button id="key-85" text="KICK" audio_file=audio_file1 }}
    {{> soundpad_button id="key-73" text="HAT" audio_file=audio_file2 }}
    {{> soundpad_button id="key-79" text="SNARE" audio_file=audio_file3 }}
    {{> soundpad_button id="key-74" text="HAT" audio_file=audio_file4 }}
    {{> soundpad_button id="key-75" text="KICK A" audio_file=audio_file5 }}
    {{> soundpad_button id="key-76" text="HAT A" audio_file=audio_file6 }}
    {{> soundpad_button id="key-78" text="SNARE A" audio_file=audio_file7 }}
    {{> soundpad_button id="key-77" text="HAT A" audio_file=audio_file8 }}
    {{> soundpad_button id="key-188" text="KICK B" audio_file=audio_file9 }}
  </div>
</template>

<template name="soundpad_button">
  <button class="playable" id={{id}}>{{text}}</button>
  {{> audio_tag audio_file=audio_file}}
</template>

<template name="audio_tag">
  <audio class="audio" src={{audio_file}}>
    Your browser does not support the <code>audio</code> element.
  </audio>
</template>


<template name="keys">
 <div id="p-wrapper">
  <ul id="piano">
    <li><div id="pkey-65" class="anchor playable"> {{> audio_tag audio_file=key1}} </div></li>
    <li>
      <div id="pkey-83" class="anchor playable"> {{> audio_tag audio_file=key3}} </div>
      <span id="pkey-87" class="playable"> {{> audio_tag audio_file=key2}} </span>
    </li>
    <li>
      <div id="pkey-68" class="anchor playable"> {{> audio_tag audio_file=key5}} </div>
      <span id="pkey-69" class="playable"> {{> audio_tag audio_file=key4}} </span> 
    </li>
    <li><div id="pkey-70" class="anchor playable"> {{> audio_tag audio_file=key6}} </div></li>
    <li>
      <div id="pkey-71" class="anchor playable"> {{> audio_tag audio_file=key8}} </div>
      <span id="pkey-84" class="playable"> {{> audio_tag audio_file=key7}} </span>
    </li>
    <li>
      <div id="pkey-72" class="anchor playable"> {{> audio_tag audio_file=key10}} </div>
      <span id="pkey-89" class="playable"> {{> audio_tag audio_file=key9}} </span>
    </li>
    <li>
      <div id="pkey-74" class="anchor playable"> {{> audio_tag audio_file=key12}} </div>
      <span id="pkey-85" class="playable"> {{> audio_tag audio_file=key11}} </span>
    </li>
    <li><div id="pkey-75" class="anchor playable"> {{> audio_tag audio_file=key13}} </div></li>
    <li>
      <div id="pkey-76" class="anchor playable"> {{> audio_tag audio_file=key15}} </div>
      <span id="pkey-79" class="playable"> {{> audio_tag audio_file=key14}} </span>
    </li>
    <li>
      <div id="pkey-186" class="anchor playable"> {{> audio_tag audio_file=key17}} </div>
      <span id="pkey-80" class="playable"> {{> audio_tag audio_file=key16}} </span>
    </li>
  </ul>
 </div>
</template>


<template name="instrument_menu">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand" style="color:white" align="center">
          <div class="text">
            <h1>INSTRUMENTS</h1>
          </div>
        </li>
        <div class="instruments">
          <li id="drumcontainer" class="item" style="color:white"><span>Drums</span>
            <ul id="drums" style="display:none;">
              <button class="drum_options" id="drum1">Drum 1</button>
              <button class="drum_options" id="drum2">Drum 2</button>
            </ul>
          </li>
       
          <li id="keycontainer" class="item" style="color:white"><span>Keys</span>
            <ul id="keys" style="display:none;">
              <button class="keyboard_options" id="grandpiano">Grand Piano</button>
              <button class="keyboard_options" id="churchorgan">Church Organ</button>
            </ul>
          </li>
        </div>
  
      </ul>
    </div>
  </template>
