
<head>
  <link rel="stylesheet" type="text/css" href="user.css">
  <title>User</title>
</head>


<template name="personal">
<div id="userbody">
  {{> banner}}

  {{> personaldetails }}

  {{> usermain }}
  
  {{> editDetails}}

  {{> listFollowers}}

  {{> listFollowing}}
  
</div>
</template>

<template name="edetails">
  <div id="editdetailslink">
    <button>
      Edit Details
    </button>
  </div>
</template>

<template name="usermain">
  <div id="main" align="center">
    <button id="timelinebutton">Timeline</button>
    <button id="recordingsbutton">Recordings</button>
    <h3 style="display:none" id="recordings">Recordings</h3>
    <h3 style="display:block" id="timeline">Timeline</h3>
    {{> UI.dynamic template=feedView }}
  </div> 
</template>


<template name="timeline_view">
  {{> activity }}
</template>

<template name="recordings_view">
  recordings
</template>

<template name="photo">
  <div id="photo">
    <img id="profilephoto" src="images/dj.png" width="90px" height="80px">
  </div>
</template>

<template name="bio">
  <div id="bio" align="center">
    <h3 id="fullname">{{fullname}}</h3>
    <p id="description">{{bio}}</p>
    <p id="genres">{{genres}}</p>

  </div>

</template>

<template name="header">
  <div id="header">
    {{> photo }} 
    
  </div>
</template>

<template name="personaldetails">
  <div id="personaldetails">
    {{>header}}

    {{> bio }} 

    {{> followings}} 

    {{> edetails}}
      
  </div>

</template>

<template name="editDetails">
  <div class="save-details dark-background" id="save-details-background">
    <div class="save-details" id="save-details-wrapperr">
      {{> details}}
    </div>
  </div>
</template>

<template name="listFollowers">
  <div class="list-followers dark-background" id="list-followers-background">
    <div class="list-followers" id="list-followers-wrapperr">
      <button class="closebox">X</button>
      Followers
    </div>
  </div>
</template>

<template name="listFollowing">
  <div class="list-following dark-background" id="list-following-background">
    <div class="list-following" id="list-following-wrapperr">
      <button class="closebox">X</button>
      Following
    </div>
  </div>
</template>


<template name="followings">
  <div id="follow-buttons-container">
    <div id="following-container">
      <div >
       <button class="follows-buttons" id="following">Following</button>
      </div>
      <div id="nooffollowing">{{numberFollowing}}</div>
    </div>
    <div id="followers-container">
      <div >
        <button class="follows-buttons" id="followers">Followers</button>
      </div>
      <div id="nooffollowers">{{numberFollowers}}</div>
    </div>
  </div>
</template>

<template name="details">
<body>

  <button class="closebox">X</button>

  <div id="edit_details" align="center">
      <fieldset>
      <div>
      Add Photo: <input id="addProfilePic" type="file"  />
      </div>
      <div>
      Add Header: <input id="addHeaderPic" type="file" />
      </div>
      <div>   
      <label for="fname_text">Full Name </label>
            <textarea rows="1" id="fname_text" maxlength="30">{{fullname}}</textarea>
      </div>
      <div>
      <label for="desc_text">Biography </label>
            <textarea rows="5" id="desc_text" maxlength="140">{{bio}}</textarea>
      </div>
      <div>
      <label for="genres_text">Genres </label>
            <textarea rows="2" id="genres_text" maxlength="50">{{genres}}</textarea>
      </div>
      <button id="update">Update</button>
      </fieldset>
    
      </div>
</body>
</template>

