
<head>
  <link rel="stylesheet" type="text/css" href="user.css">
  <title>User</title>
</head>


<template name="personal">
  {{> banner}}

  <div id="userbody">

    {{> personaldetails }}

    {{#if currentUserPage}}
      {{> current_usermain }}
      {{> editDetails}}
  	  {{> listFollowers}}
  	  {{> listFollowing}}
    {{else}}
      {{> other_usermain}}
      {{> profile_listFollowers}}
      {{> profile_listFollowing}}
  {{/if}}
</div>
</template>

<template name="edetails">
  <div id="editdetailslink">
    <button>
      Edit Details
    </button>
  </div>
</template>

<template name="current_usermain">
  <div class="main">
    <!-- <button onclick="addRecording()">Add recording</button> -->
    <button id="timelinebutton">Timeline</button>
    <button id="recordingsbutton">Recordings</button>
    <h3 style="display:none" id="recordings">Recordings</h3>
    <h3 style="display:block" id="timeline">Timeline</h3>
    {{> UI.dynamic template=feedView }}
  </div> 
</template>

<template name="other_usermain">
  <div class="main">
    <h3 id="recordings">Recordings</h3>
    {{#each published_recordings}}
      {{> recordingCard}}
    {{else}}
      There are no published recordings.
    {{/each}}
  </div> 
</template>


<template name="timeline_view">
  {{> activity }}
</template>

<template name="recordings_view">
  {{#each recordings}}
    {{> ownRecordingCard}}
  {{else}}
    You have no recordings.
  {{/each}}
</template>

<template name="photo">
  <div id="photo">
    <img id="profilephoto" src="/images/dj.png" width="90px" height="80px">
  </div>
</template>

<template name="bio">
  <div id="bio" align="center">
    <h3 id="fullname">{{fullname}}</h3>
    <p id="description">{{bio}}</p>
    <p id="genres">{{genres}}</p>

  </div>

</template>

<template name="header">
  <div id="header">
    {{> photo }} 
    
  </div>
</template>

<template name="personaldetails">
  <div id="personaldetails">
    {{>header}}

    {{> bio }} 

    {{> followings}} 

    {{#if currentUser}}
    {{#if notOwnProfile }}
      <div class="follow-button-container">
        {{#if followingUser}}
          <button class="follow-buttons" id="unfollow-button"><span>Following</span></button>
        {{else}}
          <button class="follow-buttons" id="follow-button">Follow</button>
        {{/if}}
      </div>
    {{/if}}
    {{/if}}

    {{#if currentUserPage}}
      {{> edetails}}
    {{/if}}
      
  </div>

</template>

<template name="editDetails">
  <div class="save-details dark-background" id="save-details-background">
    <div class="save-details" id="save-details-wrapperr">
      {{> details}}
    </div>
  </div>
</template>

<template name="listFollowers">
  <div class="list-followers dark-background" id="list-followers-background">
    <div class="list-followers" id="list-followers-wrapperr">
      <button class="closebox">X</button>
      {{> listofFollowers}}
    </div>
  </div>
</template>

<template name="listFollowing">
  <div class="list-following dark-background" id="list-following-background">
    <div class="list-following" id="list-following-wrapperr">
      <button class="closebox">X</button>
      {{> listofFollowing}}
    </div>
  </div>
</template>

<template name="profile_listFollowers">
  <div class="profile-list-followers dark-background" id="list-followers-background">
    <div class="profile-list-followers" id="list-followers-wrapperr">
      <button class="closebox">X</button>
      {{> profile_listofFollowers}}
    </div>
  </div>
</template>

<template name="profile_listFollowing">
  <div class="profile-list-following dark-background" id="list-following-background">
    <div class="profile-list-following" id="list-following-wrapperr">
      <button class="closebox">X</button>
      {{> profile_listofFollowing}}
    </div>
  </div>
</template>

<template name="listofFollowers">
  {{#each follower}}
    <div> {{username}} </div>
  {{/each}}
</template>

<template name="listofFollowing">
  {{#each following}}
    <div> {{username}} </div>
  {{/each}}
</template>

<template name="profile_listofFollowers">
  {{#each follower}}
    <div class="fflist"> 
      <button style="float:right;">Follow</button>
      <div style="float:left;"> {{username}} </div>
    </div>
  {{/each}}
</template>

<template name="profile_listofFollowing">
  {{#each following}}
    <div class="fflist"> 
      <button style="float:right;">Unfollow</button>
      <div style="float:left;"> {{username}} </div>
    </div>
  {{/each}}
</template>


<template name="followings">
  <div id="follow-buttons-container">
    <div id="following-container">
      <div >
       <button class="follows-buttons" id="following">Following</button>
      </div>
      <div id="nooffollowing">{{numberFollowing}}</div>
    </div>
    <div id="followers-container">
      <div >
        <button class="follows-buttons" id="followers">Followers</button>
      </div>
      <div id="nooffollowers">{{numberFollowers}}</div>
    </div>
  </div>
</template>

<template name="details">
<body>

  <button class="closebox">X</button>

  <div id="edit_details">
      <fieldset>
      <!-- <div>
      Add Photo <input id="addProfilePic" type="file"  />
      </div>
      <div>
      Add Header <input id="addHeaderPic" type="file" />
      </div> -->
      <div>   
      <label for="fname_text">Full Name </label>
            <textarea rows="1" id="fname_text" maxlength="30">{{fullname}}</textarea>
      </div>
      <div>
      <label for="desc_text">Biography </label>
            <textarea rows="5" id="desc_text" maxlength="140">{{bio}}</textarea>
      </div>
      <div>
      <label for="genres_text">Genres </label>
            <textarea rows="2" id="genres_text" maxlength="50">{{genres}}</textarea>
      </div>
      <button id="update">Update</button>
      </fieldset>
    
      </div>
</body>
</template>

