
<head>
  <link rel="stylesheet" type="text/css" href="user.css">
  <title>User</title>
</head>


<template name="personal">
<div id="userbody">
  {{> banner}}

  {{> personaldetails }}

  {{> usermain }}

  {{> suggestions }}

  <div id="editdetailslink">
    <a id="editdetailspage" href="/details" target="_blank">Edit Details</a>
  </div>

  {{details}}
  
</div>
</template>

<template name="usermain">
  <div id="main" align="center">
    <button id="timelinebutton">Timeline</button>
    <button id="recordingsbutton">Recordings</button>
    <h3 style="display:none" id="recordings">Recordings</h3>
    <h3 style="display:block" id="timeline">Timeline</h3>
    {{> UI.dynamic template=feedView }}
  </div> 
</template>


<template name="timeline_view">
  {{> activity }}
</template>

<template name="recordings_view">
  recordings
</template>

<template name="photo">
  <div id="photo">
    <img id="profilephoto" src="dj.png">
  </div>
</template>

<template name="bio">
  <div id="bio" align="center">
    <h3 id="fullname">{{fullname}}</h3>
    <p id="description">{{bio}}</p>
    <p id="genres">{{genres}}</p>
  </div>
</template>

<template name="header">
  <div id="header">
    {{> photo }} 
    
  </div>
</template>

<template name="personaldetails">
  <div id="personaldetails">
    {{>header}}

    {{> bio }} 

    {{> followings}}   
  </div>
</template>

<template name="suggestions">
  <div id="suggestions" align="center">
    <h3>Suggestions</h3>
  </div>
</template>

<template name="followings">
  <div id="followings" >
    <div>
    <button id="following">Following</button>
    <button id="followers">Followers</button>
    </div>
    <div>
    <p id="nooffollowing">{{numberFollowing}}</p>
    <p id="nooffollowers">{{numberFollowers}}</p>
    </div>
  </div>
</template>

