.activity-card, .recording-card {
	background-color: #DCDCDC;
	padding: 15px;
	max-width: 700px;
	height: 100px;
	margin: 25px auto;
	box-shadow: 2px 2px 3px #999;
	border-radius: 5px;
	text-align: left;
	position: relative;
}

.button-cont {
	position: absolute;
	top: 5px;
	right: 5px;
}

.activity_info {
	font-size: 20px;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.activity_info .name {
	font-size: 40px;
}

.activity-card .activity_info {
	width: 50%;
}

.recording-card .activity_info {
	width: 45%;
}

.profile-photo img {
	width: 75px;
	height: 75px;
	margin-top: 10px;
	margin-left: 10px;
}

.profile-photo {
	display: inline-block;
}

.recording-card .publish-buttons {
	background-color: white;
	box-shadow: 1px 1px 2px 1px #878787;
}

.delete-button {
	background-color: white;
	box-shadow: 1px 1px 2px 1px #878787;
}

.delete-button .delete {
	padding-top: 2px;
}

.recording-card .unpublish-button:hover span {
	display: none;
}

.recording-card .unpublish-button:hover:before {
	content: "Unpublish"
}

.activity-card .play, .recording-card .play {
	float: none;
	display: inline-block;
}

.activity-card div.play, .recording-card div.play {
	width: 20%;
	text-align: center;
}