.activity-card, .recording-card {
	background-color: #DCDCDC;
	padding: 15px;
	max-width: 700px;
	height: 100px;
	margin: 25px auto;
	box-shadow: 2px 2px 3px #999;
	border-radius: 5px;
}

.recording {
	margin-top: 15px;
}

.activity_info h1 {
	display: inline-block;
}

.button-cont {
	float: right;
	width: 20%;
}

.activity_info {
	font-size: 20px;
}

.card-contents {
	display: inline-block;
	vertical-align: top;
  	margin-top: 5px;
  	margin-left: 30px;
  	width: 50%;
}

.profile-photo img {
	width: 75px;
	height: 75px;
	margin-top: 10px;
	margin-left: 10px;
}

.profile-photo span {
	width: 20%;
}

.recording-card .publish-buttons {
	background-color: white;
	box-shadow: 1px 1px 2px 1px #878787;
}

.delete-button {
	background-color: white;
	box-shadow: 1px 1px 2px 1px #878787;
}

.delete-button .delete {
	padding-top: 2px;
}

.recording-card .unpublish-button:hover span {
	display: none;
}

.recording-card .unpublish-button:hover:before {
	content: "Unpublish"
}