#personaldetails {
	display: inline-block;
	width: 25%;
	max-width: 300px;
	margin-top: 50px;
	margin-left: 30px;
	border: 2px solid #F3F3F3;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #E3E3e3;
	padding: 5px;
}

#header {
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F3F3F3;
}

#photo {
	width: 30%;
	height: 40%;
	margin: 20px;
	z-index: 1;
	display: inline-block;
}

#bio {
	margin-top: 20px;
	z-index: 1;
	font-family: 'Tahoma', Arial, sans-serif;
	background-color: white;
}

#edit_details {
	font-family: 'Tahoma', Arial, sans-serif;
	float: middle;
	width: 500px;
	height: 460px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

#userbody .main {
	display: inline-block;
	vertical-align: top;
	border: 2px solid #F3F3F3;
	border-radius: 5px;
	margin-top: 20px;
	margin-left: 5%;
	padding: 10px;
	width: 60%;
	min-width: 500px
	font-family: 'smallFont', Arial, sans-serif;
	background-color: white;
	box-shadow: 2px 2px 3px #E3E3e3;
	text-align: center;
}

#suggestions {
	border: 3px solid #E94418;
	margin-left: 20px;
	margin-right: 20px;
	float: right;
	width: 200px;
	height: 400px;
	z-index: 1;
	font-family: 'Tahoma', Arial, sans-serif;
	margin-top: 10px;
	background-color: white;
}

#editdetailslink {
	clear: both;
}

#fname_text {
	width: 200px;
	margin-top: 20px;
	float: middle;
	display:inline-block;
}

#desc_text {
	width: 200px;
	height: 100px;
	margin-top: 20px;
	float: middle;
	display:inline-block;
}

#genres_text {
	width: 200px;
	height: 100px;
	margin-top: 20px;
	float: middle;
	display:inline-block;
}

#addProfilePic {
    float: middle;
    margin-top: 5px;
}

#addHeaderPic {
    float: middle;
}

#following {
	float: left;
    border: none;
    background: none;
    color: #E94418;
    font-size: 20px;
    font-weight: bold; 

}

#nooffollowing {
    float: left;
    font-weight: bold;
    margin-left: 40px;
    font-size: 32px;
}

#followers {
    color: #E94418;
    font-size: 20px; 
    margin-left: 20px;
    float: right;
    border: none;
    background: none;
    font-weight: bold;
}

#nooffollowers {
    font-weight: bold;
    float: right;
    margin-right: 40px;
    font-size: 32px;
}

#followers-container {
	float: right;
}

#following-container {
	float: left;
}

#follow-buttons-container {
	margin-top: 20px;
}

.follows-buttons {
	display: inline-block;
}

#timelinebutton{
	font-size: 15px; 
	color: #E94418;
    border: none;
    background-color: white;
}

#recordingsbutton{
	font-size: 15px; 
	color: #E94418;
    border: none;
    background-color: white;
}

#recordings {
	font-family: 'smallFont';
	font-style: bold;
	font-size: 20px;
}

#timeline {
	font-family: 'smallFont';
	font-style: bold;
	font-size: 20px;
}

label {
    display:inline-block;
    width:200px;
    margin-right:30px;
    text-align:middle;
}

fieldset {
    border:none;
    width:500px;
    margin: 20 auto 20 auto;
}

.dark-background {
  z-index: 4000;
  position: absolute;
  background-color: rgba(29,29,29, .7);
  width: 100%;
  height: 100%;
  top: 0;
}

#save-details-wrapperr, #list-followers-wrapperr, #list-following-wrapperr {
  z-index: 5000;
  border: solid;
  background-color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  margin-top: 40px;
  margin-left: 370px;
  padding: 15px 20px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 5px 5px 3px #222;
}

.save-details, .list-followers, .list-following, .profile-list-followers, .profile-list-following {
  display: none;
}

.closebox {
	float: right;
}

.follow-buttons {
	color: #E94418;
	font-size: 14px;
}

#unfollow-button:hover span {
	display: none;
}

#update {
	margin-top: 25px;
}

#unfollow-button:hover:before {
	content: "Unfollow";
}

.follow-button-container {
	overflow: hidden;
	clear: both;
	text-align: center;
}